<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/admin/analyst" method="post">
    이메일 : <input type="email" name="username"><br>
    패스워드 : <input type="password" name="password"><br>
    전화번호 : <input name="phone"><br>
    이름 : <input name="name"><br>
    생일 : <input name="birth"><br>
    이미지 : <input name="img"><br>
<!--    이미지에 파일 넣어야함-->
    설명 : <input type="text" name="contents"><br>
    <input type="submit">
</form>

</body>
</html>