<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment 선언-->
<th:block th:fragment="configFragment">

    <!-- 이 영역에 공통으로 사용할 css, js library를 선언. -->
    <link rel="stylesheet" th:href="@{/css/common/common.css}">




    <!-- 공통으로 사용할 CDN 선언 -->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{https://kit.fontawesome.com/59ddc9f0a7.js}" crossorigin="anonymous"></script>

    <!--    <link rel="stylesheet" type="text/css" href="css/main.css" />-->

    <!-- Content Page의 CSS fragment가 있다면 삽입될 위치-->
    <th:block layout:fragment="css"></th:block>

    <!-- Content Page의 script fragment가 있다면 삽입될 위치-->
    <th:block layout:fragment="script"></th:block>
</th:block>
</html>