<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<div layout:fragment="content">
    <link th:href="@{/css/common/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/common/icons.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/common/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/common/file.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <!--    my인터뷰 등록-->
    <h2>인터뷰 등록하기</h2>
                            <div class="ne1" align="center" >

                                <input type="text" name="title" placeholder="제목">

                                <hr>
                                    <div class="form-group">
                                        <p>장르</p>
                                        <input type="radio" name="experience" value="호러">호러
                                        <input type="radio" name="experience" value="드라마">드라마
                                        <input type="radio" name="experience" value="추리">추리
                                        <input type="radio" name="experience" value="코미디">코미디
                                        <input type="radio" name="experience" value="기타">기타
                                    </div>
                                <hr>
                                <form th:action="@{/upload}" name="uploadForm file" id="uploadForm" enctype="multipart/form-data" method="post">

                                    <div id="dropZone" style="width: 500px; height: 100px; border-style: solid; border-color: black; background-color: lightgray">
                                        <div id="fileDragDesc"> 파일을 드래그 해주세요. </div>

                                        <table id="fileListTable" width="100%" border="0px">
                                            <tbody id="fileTableTbody">

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="upload-btn-wrapper">
                                        <input th:action="@{/upload}" type="file" id="input_file" name="file" multiple="multiple/form-data" method="post" style="height: 100%;" />
                                        <button class="upload-btn">파일선택</button>
                                    </div>
                                    <button class="btn btn-primary"  style="margin: 10% 45%;">영상 등록하기</button>
                                </form>
                            </div>


</html>
