<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<div layout:fragment="content">

    <h2>All비디오 리스트</h2>
<ul>
    <video width='450' poster="/썸네일경로/" muted controls >
        <source th:src=""></resource>
    </video>

    <video width='450' poster="/썸네일경로/" muted controls >
        <source th:src=""></resource>
    </video>

    <video width='450' poster="/썸네일경로/" muted controls >
        <source th:src=""></resource>
    </video>
</ul>

    <ul>
    <video width='450' poster="/썸네일경로/" muted controls >
        <source th:src=""></resource>
    </video>

    <video width='450' poster="/썸네일경로/" muted controls >
        <source th:src=""></resource>
    </video>

    <video width='450' poster="/썸네일경로/" muted controls >
        <source th:src=""></resource>
    </video>

    </ul>



</div>
</html>

