<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<td layout:fragment="content">
<h1> 내 동영상</h1>

<table border="1">
    <tr>
        <td>제목</td>
        <td>평균점수</td>
    </tr>

    <tr th:each="videoList:${videoList}">
        <td><a th:text="${videoList.title}" th:href="@{/list/detail/?id=}+${videoList.id}"></a></td>
        <td th:text="${videoList.avgScore}"></td>
    </tr>
</table>
</div>
</html>