<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/common/notice.css}"/>
    <h2>내 동영상</h2>
    <div id="container" style="overflow: hidden; margin: 40px; padding-left: 250px; font-size: 14px">
        <div class="row">
            <div class="col-sm-3" text align="center" style="font-weight: 900; font-size: 17px;">제목</div>
            <div class="col-sm-4" text align="center" style="font-weight: 900; font-size: 17px;">동영상</div>
            <div class="col-sm-2" text align="center" style="font-weight: 900; font-size: 17px;">평점</div>
            <hr align="center" style="border: solid 1px green; width: 80%">
        </div>


            <div class="row" th:each="videoList:${videoList}">
                <div class="col-sm-3" text align="center" th:text="${videoList.title}"></div>
                <div class="col-sm-4" text align="center" th:text="${videoList.url}"></div>
                <div class="col-sm-2" text align="center" th:text="${videoList.avgScore}"></div>
                <hr align="center" style="border: solid 1px green; width: 80%">
            </div>
    </div>
    </div>
</html>