<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<div layout:fragment="content">
    <body id="back">
    <div class="container" style=" overflow: hidden;" role="main" >
            <h1 align="center">파일 업로드</h1>
            <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="text" class="form-control" name="title" placeholder="제목을 입력해 주세요">
                </div>
                <hr align="center" style="border: solid 1px green;">

                <div class="mb-3">
                    <input type="file" name="file">
                </div>

                <div>
                    <button type="submit" class="btn btn-sm btn-success" style=" margin:1% 92%;">동영상 올리기</button>
                </div>
            </form>
        </div>
    </body>
</div>
</html>