<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="layout/common_layout">

<div layout:fragment="content">

    <link rel="stylesheet" th:href="@{/css/common/notice.css}"/>


    <style>

        #container a {

            display: block;

        }

    </style>
    <ul class="board">
        <h2>공지사항</h2>
        <ul>
            <li class="fl tc w1000 title t_line" th:text="${notice.title}"></li>
        </ul>
    </ul>

    <ul class="board">
        <li class="fl tc w1000 list t_line lt_line">
            <a th:text="${notice.content}"></a>
        </li>
    </ul>
</div>
</html>