<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/common/notice.css}"/>
    <h2>공지사항</h2>

    <div id="container" style="overflow: hidden; margin:50px; padding-left: 500px; font-size:16px">
        <div class="row">
        <div class="col-sm-7" text align="center" th:text="${notice.title}"></div>
            <hr align="center" style="border: solid 1px green; width: 61%">
            <div class="col-sm-7" text align="center" th:text="${notice.content}"></div>
        </div>
    </div>
</div>
</html>