<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/common/board.css}"/>
    <div id="mainWrapper">

        <ul>
            <li>자주하는 질문(FAQ)</li>

            <li>
                <ul id="ulTable">
                    <li>
                        <ul th:each="faq:${faqList}">
                            <li style="display: inherit">
                                <a th:text="${faq.title}" th:id="'faq' + ${faq.id}"></a>
                                <p th:text="${faq.contents}" style="display : none" th:id="'contents'+${faq.id}"></p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
        <button class="btn btn-sm btn-success" style=" margin:1% 85%;">등록</button>

        <script>
            $(document).ready(function(){
                $("#faq1").click(function(){
                    $("#contents1").slideToggle();
                    $("#contents2").slideUp();
                    $("#contents3").slideUp()
                    $("#contents4").slideUp()
                    $("#contents5").slideUp()
                    $("#contents6").slideUp()
                    $("#contents7").slideUp()
                    $("#contents8").slideUp()
                    $("#contents9").slideUp()
                    $("#contents10").slideUp()
                    $("#contents11").slideUp()
                });
                $("#faq2").click(function(){
                    $("#contents1").slideUp();
                    $("#contents2").slideToggle();
                    $("#contents3").slideUp()
                    $("#contents4").slideUp()
                    $("#contents5").slideUp()
                    $("#contents6").slideUp()
                    $("#contents7").slideUp()
                    $("#contents8").slideUp()
                    $("#contents9").slideUp()
                    $("#contents10").slideUp()
                    $("#contents11").slideUp()
                });
            });
        </script>
    </div>
</div>
</html>