<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/common/list.css}"/>
    <style>
        #container a {
            display: block;
        }
    </style>

    <div id="container">

        <ul class="board">
            <h2>Notice 리스트</h2>
            <ul>
                <li class="fl tc w70 title t_line">번호</li>
                <li class="fl tc w500 title t_line">제목</li>
                <li class="fl tc w100 title t_line">조회수</li>
            </ul>
        </ul>
        <!--- 리스트 --->
        <ul class="board">
            <ul th:each="noticeList:${noticeList}">
                <li class="fl tc w70 list t_line lt_line" th:text="${noticeList.id}"></li>

                <li class="fl tc w500 list t_line lt_line">
                    <a th:href="@{/notice/contents/(id=${noticeList.id})}" th:text="${noticeList.title}"></a>
                </li>
                <li class="fl tc w100 list t_line lt_line"th:text="${noticeList.views}"></li>
            </ul>
        </ul>
    </div>
</div>

</html>