<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/common/notice.css}"/>
    <h2>공지사항</h2>

    <div id="container" style="overflow: hidden; margin: 20px; padding-left: 350px; font-size:15px">
        <div class="row">
            <div class="col-sm-1" text align="center" style="font-weight: 900; font-size: 17px;">번호</div>
            <div class="col-sm-7" text align="center" style="font-weight: 900; font-size: 17px;">제목</div>
            <div class="col-sm-2" text align="center" style="font-weight: 900; font-size: 17px;">조회수</div>
            <hr align="center" style="border: solid 1px green; width: 80%">
        </div>
            <div class="row" th:each="noticeList:${noticeList}">
                <div class="col-sm-1" text align="center" th:text="${noticeList.id}"></div>
                <div class="col-sm-7" text align="center"><a th:href="@{/notice/contents/(id=${noticeList.id})}" th:text="${noticeList.title}"></a></div>
                <div class="col-sm-2"text align="center" th:text="${noticeList.views}"></div>
                <hr align="center" style="border: solid 1px green; width: 80%">
            </div>

            <button class="btn btn-sm btn-success" style="margin:1% 78%;" onclick="location.href='/admin/notice/write'" th:if="${auth} == ADMIN">등록</button>
        </div>
    <div align="center">
        <span th:each="pageNum : ${pageList}" th:inline="text">
            <a th:href="@{'/notice/?page='+${pageNum}}">[[${pageNum}]]</a>
        </span>
    </div>
    <hr style="visibility:hidden">
</div>
</html>

