<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">
<div layout:fragment="content">
    <h2>공지사항</h2>
    <body>
    <table class="table table-striped" style="font-size: 15px; text-align: center; width: 1200px; margin-left:10%">
        <thead>
        <tr>
            <th style="text-align: center">번호</th>
            <th style="text-align: center">제목</th>
            <th style="text-align: center">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="noticeList:${noticeList}">
            <td th:text="${noticeList.id}"></td>
            <td><a th:href="@{/notice/contents/(id=${noticeList.id})}" th:text="${noticeList.title}"></a></td>
            <td th:text="${noticeList.views}"></td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <div align="center">
            <span th:each="pageNum : ${pageList}" th:inline="text">
                <a th:href="@{'/notice/?page='+${pageNum}}">[[${pageNum}]]</a>
            </span>
    </div>
    </body>
</div>
</html>

