<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/list.css" />
</head>
<body>
<div th:fragment="headerFragment(activeTab)">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="#" th:href="@{/}" >Intercam</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                    <li class="nav-item dropdown">
                        <button class="dropbtn">My인터뷰</button>
                        <div class="dropdown-content">
                            <a href="#">등록</a>
                            <a href="#">나의리스트</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <button class="dropbtn">All인터뷰</button>
                        <div class="dropdown-content">
                            <a href="#">리스트</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <button class="dropbtn">순위</button>
                        <div class="dropdown-content">
                            <a href="#">리스트</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <button class="dropbtn">소개</button>
                        <div class="dropdown-content">
                            <a href="#">평가원 소개</a>
                            <a href="#">사용방법 (다운로드)</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <button class="dropbtn">고객지원</button>
                        <div class="dropdown-content">
                            <a href="#">공지사항</a>
                            <a href="#">FAQ</a>
                            <a href="#">질문보내기</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <button class="dropbtn">설정</button>
                        <div class="dropdown-content">
                            <a href="#">MY PAGE</a>
                        </div>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" th:class="${activeTab == 'auth-login_r'}? 'active':null" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/auth-login_r}" href="/auth-login_r">login</a>
                    </li>
                </ul>

                <form name="myForm" action="/logout" method="POST"></form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav navbar-nav navbar-right th:class="th:class="${activeTab == 'mypage'}? 'active':null" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/mypage}" href="/mypage" sec:authentication="name" ></a>
                    <li><a href="/logout" onclick="javascript:document.myForm.submit()"><span class="glyphicon glyphicon-log-in" sec:authorize="isAuthenticated()">Logout</span></a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<style>
    h2 { text-align: center;}

</style>

    <div id="container">

    <!---기본 메뉴--->
    <ul class="board">
        <h2>나의 인터뷰 리스트</h2>
        <li class="fl tc w70 title t_line">번호</li>
        <li class="fl tc w500 title t_line">제목</li>
        <li class="fl tc w120 title t_line">글쓴이</li>
        <li class="fl tc w100 title t_line">작성일</li>
        <li class="fl tc w100 title ">조회수</li>
    </ul>
    <!--- 리스트 --->
    <ul class="board">
        <li class="fl tc w70 list t_line lt_line">1</li>
        <li class="fl tc w500 list t_line lt_line">임원면접 중복예약자 직권 취소안내<span class=" label label-danger">미평가</span></li>
        <li class="fl tc w120 list t_line lt_line">관리자</li>
        <li class="fl tc w100 list t_line lt_line">2021-02-11</li>
        <li class="fl tc w100 list  lt_line">1</li>
    </ul>

        <ul class="board">
            <li class="fl tc w70 list t_line lt_line">2</li>
            <li class="fl tc w500 list t_line lt_line">화상 면접 대기 신청방법<span class="text-right label label-success">평가</span></li>
            <li class="fl tc w120 list t_line lt_line">관리자</li>
            <li class="fl tc w100 list t_line lt_line">2021-02-11</li>
            <li class="fl tc w100 list  lt_line">1</li>
        </ul>

    </div>
</div>
</body>
</html>